In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
death_2014 = pd.read_csv('/home/allen/Galva/capstones/capstone1/Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2014-2018.csv')
death_2019 = pd.read_csv('/home/allen/Galva/capstones/capstone1/Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2019-2020.csv')
death_master = pd.concat([death_2014 , death_2019])

In [3]:
death_columns = death_master.columns 
death_cols_to_remove = ['Jurisdiction of Occurrence','Malignant neoplasms (C00-C97)', 'Septicemia (A40-A41)','Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)']
for i in death_columns:
    if i[0] == 'f':
        death_cols_to_remove.append(i)
    if "COVID" in i:
        death_cols_to_remove.append(i)

death_master.drop(death_cols_to_remove, axis =1 , inplace=True)

In [4]:
death_master.columns

Index(['MMWR Year', 'MMWR Week', 'Week Ending Date', 'All  Cause',
       'Natural Cause', 'Diabetes mellitus (E10-E14)',
       'Alzheimer disease (G30)', 'Influenza and pneumonia (J10-J18)',
       'Chronic lower respiratory diseases (J40-J47)',
       'Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)',
       'Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)',
       'Diseases of heart (I00-I09,I11,I13,I20-I51)',
       'Cerebrovascular diseases (I60-I69)', 'All Cause',
       'Influenza and pneumonia (J09-J18)'],
      dtype='object')

In [ ]:
death_master.columns =

In [4]:
pm10_2014 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm10_2014.csv')
pm10_2015 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm10_2015.csv')
pm10_2016 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm10_2016.csv')
pm10_2017 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm10_2017.csv')
pm10_2018 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm10_2018.csv')
pm10_2019 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm10_2019.csv')

pm10_master = pd.concat([pm10_2014, pm10_2015,pm10_2016,pm10_2017,pm10_2018,pm10_2019])

pm10_master.shape

(8061, 20)

In [5]:
pm10_master['POC'].describe()

count    8061.000000
mean        1.666046
std         0.871737
min         1.000000
25%         1.000000
50%         1.000000
75%         3.000000
max         3.000000
Name: POC, dtype: float64

In [63]:
pm25u = pm25_master['Site ID'].unique()
print(pm25u)

[80010006 80050005 80310002 80310026 80310027 80350004 80350005 80310028
 80930002 80010008 80310013]

In [83]:
num_id = [80010006 ,80050005 ,80310002, 80310026 ,80310027, 80350004 ,80350005 ,80310028,80930002 ,80010008 ,80310013]
for i in num_id:
    print(pm25_master[pm25_master['Site ID'] == i].count(), f'for this site id{i}')

Date                              290
Source                            290
Site ID                           290
POC                               290
Daily Mean PM2.5 Concentration    290
UNITS                             290
DAILY_AQI_VALUE                   290
Site Name                         290
DAILY_OBS_COUNT                   290
PERCENT_COMPLETE                  290
AQS_PARAMETER_CODE                290
AQS_PARAMETER_DESC                290
CBSA_CODE                         290
CBSA_NAME                         290
STATE_CODE                        290
STATE                             290
COUNTY_CODE                       290
COUNTY                            290
SITE_LATITUDE                     290
SITE_LONGITUDE                    290
dtype: int64 for this site id80010006
Date                              721
Source                            721
Site ID                           721
POC                               721
Daily Mean PM2.5 Concentration    721
UNITS                             721
DAILY_AQI_VALUE                   721
Site Name                         721
DAILY_OBS_COUNT                   721
PERCENT_COMPLETE                  721
AQS_PARAMETER_CODE                721
AQS_PARAMETER_DESC                721
CBSA_CODE                         721
CBSA_NAME                         721
STATE_CODE                        721
STATE                             721
COUNTY_CODE                       721
COUNTY                            721
SITE_LATITUDE                     721
SITE_LONGITUDE                    721
dtype: int64 for this site id80050005
Date                              4658
Source                            4658
Site ID                           4658
POC                               4658
Daily Mean PM2.5 Concentration    4658
UNITS                             4658
DAILY_AQI_VALUE                   4658
Site Name                         4658
DAILY_OBS_COUNT                   4658
PERCENT_COMPLETE                  4658
AQS_PARAMETER_CODE                4658
AQS_PARAMETER_DESC                4658
CBSA_CODE                         4658
CBSA_NAME                         4658
STATE_CODE                        4658
STATE                             4658
COUNTY_CODE                       4658
COUNTY                            4658
SITE_LATITUDE                     4658
SITE_LONGITUDE                    4658
dtype: int64 for this site id80310002
Date                              2488
Source                            2488
Site ID                           2488
POC                               2488
Daily Mean PM2.5 Concentration    2488
UNITS                             2488
DAILY_AQI_VALUE                   2488
Site Name                         2488
DAILY_OBS_COUNT                   2488
PERCENT_COMPLETE                  2488
AQS_PARAMETER_CODE                2488
AQS_PARAMETER_DESC                2488
CBSA_CODE                         2488
CBSA_NAME                         2488
STATE_CODE                        2488
STATE                             2488
COUNTY_CODE                       2488
COUNTY                            2488
SITE_LATITUDE                     2488
SITE_LONGITUDE                    2488
dtype: int64 for this site id80310026
Date                              2605
Source                            2605
Site ID                           2605
POC                               2605
Daily Mean PM2.5 Concentration    2605
UNITS                             2605
DAILY_AQI_VALUE                   2605
Site Name                         2605
DAILY_OBS_COUNT                   2605
PERCENT_COMPLETE                  2605
AQS_PARAMETER_CODE                2605
AQS_PARAMETER_DESC                2605
CBSA_CODE                         2605
CBSA_NAME                         2605
STATE_CODE                        2605
STATE                             2605
COUNTY_CODE                       2605
COUNTY                            2605
SITE_LATITUDE                     2605
SITE_LONGITUDE                    2605
dtype: int64 for this site id80310027
Date                              1733
Source                            1733
Site ID                           1733
POC                               1733
Daily Mean PM2.5 Concentration    1733
UNITS                             1733
DAILY_AQI_VALUE                   1733
Site Name                         1733
DAILY_OBS_COUNT                   1733
PERCENT_COMPLETE                  1733
AQS_PARAMETER_CODE                1733
AQS_PARAMETER_DESC                1733
CBSA_CODE                         1733
CBSA_NAME                         1733
STATE_CODE                        1733
STATE                             1733
COUNTY_CODE                       1733
COUNTY                            1733
SITE_LATITUDE                     1733
SITE_LONGITUDE                    1733
dtype: int64 for this site id80350004
Date                              57
Source                            57
Site ID                           57
POC                               57
Daily Mean PM2.5 Concentration    57
UNITS                             57
DAILY_AQI_VALUE                   57
Site Name                         57
DAILY_OBS_COUNT                   57
PERCENT_COMPLETE                  57
AQS_PARAMETER_CODE                57
AQS_PARAMETER_DESC                57
CBSA_CODE                         57
CBSA_NAME                         57
STATE_CODE                        57
STATE                             57
COUNTY_CODE                       57
COUNTY                            57
SITE_LATITUDE                     57
SITE_LONGITUDE                    57
dtype: int64 for this site id80350005
Date                              1481
Source                            1481
Site ID                           1481
POC                               1481
Daily Mean PM2.5 Concentration    1481
UNITS                             1481
DAILY_AQI_VALUE                   1481
Site Name                         1481
DAILY_OBS_COUNT                   1481
PERCENT_COMPLETE                  1481
AQS_PARAMETER_CODE                1481
AQS_PARAMETER_DESC                1481
CBSA_CODE                         1481
CBSA_NAME                         1481
STATE_CODE                        1481
STATE                             1481
COUNTY_CODE                       1481
COUNTY                            1481
SITE_LATITUDE                     1481
SITE_LONGITUDE                    1481
dtype: int64 for this site id80310028
Date                              719
Source                            719
Site ID                           719
POC                               719
Daily Mean PM2.5 Concentration    719
UNITS                             719
DAILY_AQI_VALUE                   719
Site Name                         719
DAILY_OBS_COUNT                   719
PERCENT_COMPLETE                  719
AQS_PARAMETER_CODE                719
AQS_PARAMETER_DESC                719
CBSA_CODE                         719
CBSA_NAME                         719
STATE_CODE                        719
STATE                             719
COUNTY_CODE                       719
COUNTY                            719
SITE_LATITUDE                     719
SITE_LONGITUDE                    719
dtype: int64 for this site id80930002
Date                              1354
Source                            1354
Site ID                           1354
POC                               1354
Daily Mean PM2.5 Concentration    1354
UNITS                             1354
DAILY_AQI_VALUE                   1354
Site Name                         1354
DAILY_OBS_COUNT                   1354
PERCENT_COMPLETE                  1354
AQS_PARAMETER_CODE                1354
AQS_PARAMETER_DESC                1354
CBSA_CODE                         1354
CBSA_NAME                         1354
STATE_CODE                        1354
STATE                             1354
COUNTY_CODE                       1354
COUNTY                            1354
SITE_LATITUDE                     1354
SITE_LONGITUDE                    1354
dtype: int64 for this site id80010008
Date                              949
Source                            949
Site ID                           949
POC                               949
Daily Mean PM2.5 Concentration    949
UNITS                             949
DAILY_AQI_VALUE                   949
Site Name                         949
DAILY_OBS_COUNT                   949
PERCENT_COMPLETE                  949
AQS_PARAMETER_CODE                949
AQS_PARAMETER_DESC                949
CBSA_CODE                         949
CBSA_NAME                         949
STATE_CODE                        949
STATE                             949
COUNTY_CODE                       949
COUNTY                            949
SITE_LATITUDE                     949
SITE_LONGITUDE                    949
dtype: int64 for this site id80310013

In [84]:
num_id = [80010006 ,80050005 ,80310002, 80310026 ,80310027, 80350004 ,80350005 ,80310028,80930002 ,80010008 ,80310013]
dict_p10={}
for i in num_id:
    print(pm10_master[pm10_master['Site ID'] == i].count(), f'for this site id{i}')

Date                             480
Source                           480
Site ID                          480
POC                              480
Daily Mean PM10 Concentration    480
UNITS                            480
DAILY_AQI_VALUE                  480
Site Name                        480
DAILY_OBS_COUNT                  480
PERCENT_COMPLETE                 480
AQS_PARAMETER_CODE               480
AQS_PARAMETER_DESC               480
CBSA_CODE                        480
CBSA_NAME                        480
STATE_CODE                       480
STATE                            480
COUNTY_CODE                      480
COUNTY                           480
SITE_LATITUDE                    480
SITE_LONGITUDE                   480
dtype: int64 for this site id80010006
Date                             0
Source                           0
Site ID                          0
POC                              0
Daily Mean PM10 Concentration    0
UNITS                            0
DAILY_AQI_VALUE                  0
Site Name                        0
DAILY_OBS_COUNT                  0
PERCENT_COMPLETE                 0
AQS_PARAMETER_CODE               0
AQS_PARAMETER_DESC               0
CBSA_CODE                        0
CBSA_NAME                        0
STATE_CODE                       0
STATE                            0
COUNTY_CODE                      0
COUNTY                           0
SITE_LATITUDE                    0
SITE_LONGITUDE                   0
dtype: int64 for this site id80050005
Date                             725
Source                           725
Site ID                          725
POC                              725
Daily Mean PM10 Concentration    725
UNITS                            725
DAILY_AQI_VALUE                  725
Site Name                        725
DAILY_OBS_COUNT                  725
PERCENT_COMPLETE                 725
AQS_PARAMETER_CODE               725
AQS_PARAMETER_DESC               725
CBSA_CODE                        725
CBSA_NAME                        725
STATE_CODE                       725
STATE                            725
COUNTY_CODE                      725
COUNTY                           725
SITE_LATITUDE                    725
SITE_LONGITUDE                   725
dtype: int64 for this site id80310002
Date                             1449
Source                           1449
Site ID                          1449
POC                              1449
Daily Mean PM10 Concentration    1449
UNITS                            1449
DAILY_AQI_VALUE                  1449
Site Name                        1449
DAILY_OBS_COUNT                  1449
PERCENT_COMPLETE                 1449
AQS_PARAMETER_CODE               1449
AQS_PARAMETER_DESC               1449
CBSA_CODE                        1449
CBSA_NAME                        1449
STATE_CODE                       1449
STATE                            1449
COUNTY_CODE                      1449
COUNTY                           1449
SITE_LATITUDE                    1449
SITE_LONGITUDE                   1449
dtype: int64 for this site id80310026
Date                             0
Source                           0
Site ID                          0
POC                              0
Daily Mean PM10 Concentration    0
UNITS                            0
DAILY_AQI_VALUE                  0
Site Name                        0
DAILY_OBS_COUNT                  0
PERCENT_COMPLETE                 0
AQS_PARAMETER_CODE               0
AQS_PARAMETER_DESC               0
CBSA_CODE                        0
CBSA_NAME                        0
STATE_CODE                       0
STATE                            0
COUNTY_CODE                      0
COUNTY                           0
SITE_LATITUDE                    0
SITE_LONGITUDE                   0
dtype: int64 for this site id80310027
Date                             0
Source                           0
Site ID                          0
POC                              0
Daily Mean PM10 Concentration    0
UNITS                            0
DAILY_AQI_VALUE                  0
Site Name                        0
DAILY_OBS_COUNT                  0
PERCENT_COMPLETE                 0
AQS_PARAMETER_CODE               0
AQS_PARAMETER_DESC               0
CBSA_CODE                        0
CBSA_NAME                        0
STATE_CODE                       0
STATE                            0
COUNTY_CODE                      0
COUNTY                           0
SITE_LATITUDE                    0
SITE_LONGITUDE                   0
dtype: int64 for this site id80350004
Date                             0
Source                           0
Site ID                          0
POC                              0
Daily Mean PM10 Concentration    0
UNITS                            0
DAILY_AQI_VALUE                  0
Site Name                        0
DAILY_OBS_COUNT                  0
PERCENT_COMPLETE                 0
AQS_PARAMETER_CODE               0
AQS_PARAMETER_DESC               0
CBSA_CODE                        0
CBSA_NAME                        0
STATE_CODE                       0
STATE                            0
COUNTY_CODE                      0
COUNTY                           0
SITE_LATITUDE                    0
SITE_LONGITUDE                   0
dtype: int64 for this site id80350005
Date                             0
Source                           0
Site ID                          0
POC                              0
Daily Mean PM10 Concentration    0
UNITS                            0
DAILY_AQI_VALUE                  0
Site Name                        0
DAILY_OBS_COUNT                  0
PERCENT_COMPLETE                 0
AQS_PARAMETER_CODE               0
AQS_PARAMETER_DESC               0
CBSA_CODE                        0
CBSA_NAME                        0
STATE_CODE                       0
STATE                            0
COUNTY_CODE                      0
COUNTY                           0
SITE_LATITUDE                    0
SITE_LONGITUDE                   0
dtype: int64 for this site id80310028
Date                             1003
Source                           1003
Site ID                          1003
POC                              1003
Daily Mean PM10 Concentration    1003
UNITS                            1003
DAILY_AQI_VALUE                  1003
Site Name                        1003
DAILY_OBS_COUNT                  1003
PERCENT_COMPLETE                 1003
AQS_PARAMETER_CODE               1003
AQS_PARAMETER_DESC               1003
CBSA_CODE                        1003
CBSA_NAME                        1003
STATE_CODE                       1003
STATE                            1003
COUNTY_CODE                      1003
COUNTY                           1003
SITE_LATITUDE                    1003
SITE_LONGITUDE                   1003
dtype: int64 for this site id80930002
Date                             1235
Source                           1235
Site ID                          1235
POC                              1235
Daily Mean PM10 Concentration    1235
UNITS                            1235
DAILY_AQI_VALUE                  1235
Site Name                        1235
DAILY_OBS_COUNT                  1235
PERCENT_COMPLETE                 1235
AQS_PARAMETER_CODE               1235
AQS_PARAMETER_DESC               1235
CBSA_CODE                        1235
CBSA_NAME                        1235
STATE_CODE                       1235
STATE                            1235
COUNTY_CODE                      1235
COUNTY                           1235
SITE_LATITUDE                    1235
SITE_LONGITUDE                   1235
dtype: int64 for this site id80010008
Date                             0
Source                           0
Site ID                          0
POC                              0
Daily Mean PM10 Concentration    0
UNITS                            0
DAILY_AQI_VALUE                  0
Site Name                        0
DAILY_OBS_COUNT                  0
PERCENT_COMPLETE                 0
AQS_PARAMETER_CODE               0
AQS_PARAMETER_DESC               0
CBSA_CODE                        0
CBSA_NAME                        0
STATE_CODE                       0
STATE                            0
COUNTY_CODE                      0
COUNTY                           0
SITE_LATITUDE                    0
SITE_LONGITUDE                   0
dtype: int64 for this site id80310013

The above result shows 80310002 has the most measures

In [ ]:
290, 80010006

In [87]:
pm25_site1 = pm25_master[pm25_master['Site ID'] == 80310026]
pm10_site1 = pm10_master[pm10_master['Site ID'] == 80310026]

In [91]:

pm25_site1.shape

(2488, 20)

In [6]:
pm25_2014 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm_25_2014.csv')
pm25_2015 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm_25_2015.csv')
pm25_2016 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm_25_2016.csv')
pm25_2017 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm_25_2017.csv')
pm25_2018 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm_25_2018.csv')
pm25_2019 = pd.read_csv('/home/allen/Galva/capstones/capstone1/pm_25_2019.csv')

pm25_master = pd.concat([pm25_2014,pm25_2015,pm25_2016,pm25_2017,pm25_2018,pm25_2019])

pm25_master.shape

(17055, 20)

In [ ]:
num_id_25 = [80010006 ,80050005 ,80310002, 80310027, 80350004 ,80350005 ,80310028,80930002 ,80010008 ,80310013]

In [ ]:
def make_sites25(x):
    
    v=''
    pm25_sites = []
    lst=[]
    
    for index,value in enumerate(x):
        v += str(value)
        lst.append(v)
        v=''
        
    zipping = [(i,ii) for i,ii in list(zip(x,lst))]
    
    for i in zipping:
        
        v = pm25_master[pm25_master['Site ID'] == x[i]]
        pm25_sites.append(v)
        v = ''
        
    return pm25_sites

check = make_sites25(num_id_25)
print(check[0])

PM25 = 17055
pm10 =  8061
Total = 25116
Missing = 1939 *

''' Seems like I can take the higest reading and have a single POC value for each date'''
'''To execute the above I would group by site ID and Date.

In [40]:
17055 + 8061 - 23177

1939

In [149]:
pm10_dates = pm10_master['Date'].values 
pm10_date = []
for i in pm10_dates:
    i=str(i)
    i_=i.split("/")

    pm10_date.append(''.join(i_))

In [121]:
print(pm10_date[:10])

['01012014', '01022014', '01032014', '01042014', '01052014', '01062014', '01072014', '01082014', '01092014', '01102014']

In [150]:
pm10_master['Date'] = pd.DatetimeIndex(pm10_master['Date']).date

In [152]:
pm25_master['Date'] = pd.DatetimeIndex(pm25_master['Date']).date

count           8061
unique          2187
top       2014-11-07
freq               9
Name: Date, dtype: object

In [37]:
pm10_master.shape

(8061, 20)

In [36]:
pm25_master.shape

(17055, 20)

In [155]:
pm2014m = pd.merge(pm25_master,pm10_master, how='outer', on = ['Site ID', 'Date', 'POC'])

In [154]:
pm_master = pd.concat([pm10_master,pm25_master])
#pm_master.info()

In [18]:
pm_master_cols = pm_master.columns
#pm_master1=pm_master.drop(['Source','AQS_PARAMETER_CODE','COUNTY','COUNTY_CODE', 'CBSA_CODE', 'CBSA_NAME', 'STATE','STATE_CODE', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE' ], axis=1, inplace=True )
pm_master[(pm_master['Date'] == '12/26/2015') & (pm_master['Site ID'] == 80310002)]

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,...,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE,Daily Mean PM2.5 Concentration
562,12/26/2015,AQS,80310002,1,8.0,ug/m3 SC,7,DENVER - CAMP,1,100.0,...,PM10 Total 0-10um STP,19740,"Denver-Aurora-Lakewood, CO",8,Colorado,31,Denver,39.751184,-104.987625,NaN
621,12/26/2015,AQS,80310002,2,9.0,ug/m3 SC,8,DENVER - CAMP,1,100.0,...,PM10 Total 0-10um STP,19740,"Denver-Aurora-Lakewood, CO",8,Colorado,31,Denver,39.751184,-104.987625,NaN
531,12/26/2015,AQS,80310002,1,NaN,ug/m3 LC,20,DENVER - CAMP,1,100.0,...,PM2.5 - Local Conditions,19740,"Denver-Aurora-Lakewood, CO",8,Colorado,31,Denver,39.751184,-104.987625,4.8
599,12/26/2015,AQS,80310002,2,NaN,ug/m3 LC,21,DENVER - CAMP,1,100.0,...,PM2.5 - Local Conditions,19740,"Denver-Aurora-Lakewood, CO",8,Colorado,31,Denver,39.751184,-104.987625,5.1
959,12/26/2015,AQS,80310002,3,NaN,ug/m3 LC,21,DENVER - CAMP,1,100.0,...,PM2.5 - Local Conditions,19740,"Denver-Aurora-Lakewood, CO",8,Colorado,31,Denver,39.751184,-104.987625,5.1

In [96]:
pm25_site1.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [156]:
pm25_site1a = pm25_master[pm25_master['Site ID'] == 80310026]
pm10_site1a = pm10_master[pm10_master['Site ID'] == 80310026]

In [97]:
cols_2_drop = ['DAILY_OBS_COUNT','Source' , 'Site Name','PERCENT_COMPLETE' ,'AQS_PARAMETER_DESC','CBSA_CODE', 'STATE_CODE', 'STATE', 'COUNTY_CODE','COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'  ]

In [101]:
# pm25_site1.drop(cols_2_drop, axis =1 , inplace=True)
# pm10_site1.drop(cols_2_drop, axis =1 , inplace=True)

In [157]:
pm25_site1a.drop(cols_2_drop, axis =1 , inplace=True)
pm10_site1a.drop(cols_2_drop, axis =1 , inplace=True)

/home/allen/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [167]:
pm10_site1a.tail(5)

,Date,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,AQS_PARAMETER_CODE,CBSA_NAME,Date_
1030,2019-12-05,80310026,2,16,ug/m3 SC,15,81102,"Denver-Aurora-Lakewood, CO",2019-12-05
1031,2019-12-11,80310026,2,42,ug/m3 SC,39,81102,"Denver-Aurora-Lakewood, CO",2019-12-11
1032,2019-12-17,80310026,2,29,ug/m3 SC,27,81102,"Denver-Aurora-Lakewood, CO",2019-12-17
1033,2019-12-23,80310026,2,39,ug/m3 SC,36,81102,"Denver-Aurora-Lakewood, CO",2019-12-23
1034,2019-12-29,80310026,2,8,ug/m3 SC,7,81102,"Denver-Aurora-Lakewood, CO",2019-12-29

In [ ]:
#aggregrate weekly data from daily PMs#
df.groupby('Name').resample('W-Mon', on='Date').sum()

In [92]:
#pm10_master[(pm10_master['Date'] == '06/04/2018') ]

In [93]:
#pm10_master[(pm10_master['Date'] == '06/04/2018') & (pm10_master['Site ID'] == 80010008) ]

In [94]:
#pm_master[(pm_master['Date'] == '06/04/2018') & (pm_master['Site ID'] == 80010008) ]

--Could create a class function thing to automate combining data
* get same dates
**

In [95]:
66.95 chronic_lower
18.99 other
174.10999999999999 heart

In [218]:
sd2_weeks_heart = death_master[death_master['Diseases of heart (I00-I09,I11,I13,I20-I51)'] >= 174.1]

In [219]:
sd2_weeks_lowerRes = death_master[death_master['Chronic lower respiratory diseases (J40-J47)'] >= 66.95 ]

In [220]:
sd2_weeks_OtherRes = death_master[death_master['Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)'] >= 19.0]

In [225]:
heart_week = sd2_weeks_heart['Week Ending Date'].values
lower_week = sd2_weeks_lowerRes['Week Ending Date'].values
other_week = sd2_weeks_OtherRes['Week Ending Date'].values

In [223]:
death_master.head(1)

,Jurisdiction of Occurrence,MMWR Year,MMWR Week,Week Ending Date,All Cause,Natural Cause,Diabetes mellitus (E10-E14),Alzheimer disease (G30),Influenza and pneumonia (J10-J18),Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),All Cause,Influenza and pneumonia (J09-J18)
0,Colorado,2014,1,01/04/2014,416.0,373,12.0,NaN,14.0,33,NaN,NaN,96,22,NaN,NaN

In [198]:
death_master.describe()

,MMWR Year,MMWR Week,All Cause,Natural Cause,Diabetes mellitus (E10-E14),Alzheimer disease (G30),Influenza and pneumonia (J10-J18),Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),All Cause,Influenza and pneumonia (J09-J18)
count,354.000000,354.000000,261.000000,354.000000,345.000000,353.000000,147.000000,354.000000,220.000000,160.000000,354.000000,354.000000,93.000000,35.000000
mean,2016.898305,25.937853,722.505747,655.971751,18.942029,33.614731,16.047619,48.997175,13.068182,12.193750,142.635593,38.028249,806.279570,15.628571
std,1.964515,14.850400,58.451599,69.700446,4.561225,8.182507,7.647484,9.559564,3.037045,2.026544,16.887731,6.899053,78.765111,4.339190
min,2014.000000,1.000000,416.000000,373.000000,10.000000,11.000000,0.000000,29.000000,0.000000,10.000000,96.000000,21.000000,638.000000,10.000000
25%,2015.000000,13.000000,686.000000,607.250000,15.000000,28.000000,11.000000,42.000000,11.000000,11.000000,129.000000,33.000000,752.000000,11.500000
50%,2017.000000,26.000000,718.000000,649.000000,19.000000,34.000000,13.000000,48.000000,12.500000,12.000000,142.500000,38.000000,807.000000,16.000000
75%,2019.000000,38.000000,757.000000,698.000000,22.000000,39.000000,18.000000,56.000000,15.000000,13.000000,154.750000,43.000000,840.000000,18.000000
max,2020.000000,53.000000,947.000000,1002.000000,33.000000,65.000000,64.000000,88.000000,24.000000,19.000000,190.000000,56.000000,1105.000000,27.000000

In [217]:
print(48.9 + (1.9 * 9.5) , 'chronic_lower')
print(13.1 + (1.9 * 3.1) , 'other') 
print(142 + (1.9 * 16.9) , 'heart')

66.95 chronic_lower
18.99 other
174.10999999999999 heart

In [239]:
sig_pm25_dates = pm25_site1a[pm25_site1a['Daily Mean PM2.5 Concentration'] >= 16.1 ]

In [192]:
pm25_site1a.describe()

,Site ID,POC,Daily Mean PM2.5 Concentration,DAILY_AQI_VALUE,AQS_PARAMETER_CODE
count,2488.0,2488.000000,2488.000000,2488.000000,2488.000000
mean,80310026.0,2.480707,7.263465,29.128215,88113.088023
std,0.0,1.005228,4.731953,15.517453,68.578911
min,80310026.0,1.000000,0.900000,4.000000,88101.000000
25%,80310026.0,1.000000,4.500000,19.000000,88101.000000
50%,80310026.0,3.000000,6.200000,26.000000,88101.000000
75%,80310026.0,3.000000,8.500000,35.000000,88101.000000
max,80310026.0,5.000000,58.600000,153.000000,88502.000000

In [241]:
sig_pm25_dates['Date'].values

array(['2014-01-08T00:00:00.000000000', '2014-02-04T00:00:00.000000000',
       '2014-02-07T00:00:00.000000000', '2014-02-10T00:00:00.000000000',
       '2014-11-01T00:00:00.000000000', '2014-11-15T00:00:00.000000000',
       '2014-12-01T00:00:00.000000000', '2014-12-04T00:00:00.000000000',
       '2014-12-13T00:00:00.000000000', '2014-12-28T00:00:00.000000000',
       '2014-12-31T00:00:00.000000000', '2014-01-08T00:00:00.000000000',
       '2014-02-04T00:00:00.000000000', '2014-02-10T00:00:00.000000000',
       '2014-06-01T00:00:00.000000000', '2014-07-04T00:00:00.000000000',
       '2015-02-23T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2015-07-08T00:00:00.000000000', '2015-08-22T00:00:00.000000000',
       '2015-11-29T00:00:00.000000000', '2015-12-29T00:00:00.000000000',
       '2015-03-01T00:00:00.000000000', '2015-03-02T00:00:00.000000000',
       '2015-07-06T00:00:00.000000000', '2015-07-09T00:00:00.000000000',
       '2015-08-21T00:00:00.000000000', '2015-08-22T00:00:00.000000000',
       '2015-10-05T00:00:00.000000000', '2015-10-06T00:00:00.000000000',
       '2015-11-29T00:00:00.000000000', '2015-12-28T00:00:00.000000000',
       '2015-12-30T00:00:00.000000000', '2015-12-31T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000', '2016-01-04T00:00:00.000000000',
       '2016-01-10T00:00:00.000000000', '2016-12-08T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000', '2016-01-04T00:00:00.000000000',
       '2016-01-09T00:00:00.000000000', '2016-01-10T00:00:00.000000000',
       '2016-11-19T00:00:00.000000000', '2016-12-08T00:00:00.000000000',
       '2016-12-09T00:00:00.000000000', '2016-12-10T00:00:00.000000000',
       '2016-12-18T00:00:00.000000000', '2018-01-08T00:00:00.000000000',
       '2018-02-22T00:00:00.000000000', '2018-08-21T00:00:00.000000000',
       '2018-08-24T00:00:00.000000000', '2018-12-07T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-01-05T00:00:00.000000000',
       '2018-01-08T00:00:00.000000000', '2018-02-02T00:00:00.000000000',
       '2018-02-21T00:00:00.000000000', '2018-02-22T00:00:00.000000000',
       '2018-02-23T00:00:00.000000000', '2018-08-02T00:00:00.000000000',
       '2018-08-13T00:00:00.000000000', '2018-08-16T00:00:00.000000000',
       '2018-08-20T00:00:00.000000000', '2018-08-21T00:00:00.000000000',
       '2018-08-22T00:00:00.000000000', '2018-08-24T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2018-11-30T00:00:00.000000000',
       '2018-12-07T00:00:00.000000000', '2018-01-08T00:00:00.000000000',
       '2018-02-22T00:00:00.000000000', '2018-08-21T00:00:00.000000000',
       '2018-08-24T00:00:00.000000000', '2018-12-07T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-01-05T00:00:00.000000000',
       '2018-01-08T00:00:00.000000000', '2018-02-02T00:00:00.000000000',
       '2018-02-21T00:00:00.000000000', '2018-02-22T00:00:00.000000000',
       '2018-02-23T00:00:00.000000000', '2018-08-02T00:00:00.000000000',
       '2018-08-13T00:00:00.000000000', '2018-08-16T00:00:00.000000000',
       '2018-08-20T00:00:00.000000000', '2018-08-21T00:00:00.000000000',
       '2018-08-22T00:00:00.000000000', '2018-08-24T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2018-11-30T00:00:00.000000000',
       '2018-12-07T00:00:00.000000000', '2019-01-09T00:00:00.000000000',
       '2019-02-05T00:00:00.000000000', '2019-02-11T00:00:00.000000000',
       '2019-02-26T00:00:00.000000000', '2019-03-07T00:00:00.000000000',
       '2019-11-02T00:00:00.000000000', '2019-11-05T00:00:00.000000000',
       '2019-11-29T00:00:00.000000000', '2019-12-02T00:00:00.000000000',
       '2019-02-05T00:00:00.000000000', '2019-02-08T00:00:00.000000000',
       '2019-02-09T00:00:00.000000000', '2019-02-10T00:00:00.000000000',
       '2019-02-11T00:00:00.000000000', '2019-02-19T00:00:00.000000000',
       '2019-02-22T00:00:00.000000000', '2019-02-26T00:00:00.000000000',
       '2019-02-27T00:00:00.000000000', '2019-02-28T00:00:00.000000000',
       '2019-03-04T00:00:00.000000000', '2019-03-05T00:00:00.000000000',
       '2019-03-06T00:00:00.000000000', '2019-03-07T00:00:00.000000000',
       '2019-03-08T00:00:00.000000000', '2019-03-12T00:00:00.000000000',
       '2019-04-03T00:00:00.000000000', '2019-07-04T00:00:00.000000000',
       '2019-11-02T00:00:00.000000000', '2019-11-05T00:00:00.000000000',
       '2019-11-28T00:00:00.000000000', '2019-11-29T00:00:00.000000000',
       '2019-12-02T00:00:00.000000000', '2019-12-27T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [183]:
# pd.to_datetime(pm25_sitela['Date'])
pm25_site1a['Date'] = pd.to_datetime(pm25_site1a['Date'])

<ipython-input-183-4b3b98535e4f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm25_site1a['Date'] = pd.to_datetime(pm25_site1a['Date'])

In [186]:
#aggregrate weekly data from daily PMs#
df_var = pm25_site1a.set_index('Date').resample('W-Sun').mean()

In [242]:
sd2_weeks = df_var[df_var['Daily Mean PM2.5 Concentration'] >= 16]
sd2_weeks.head(2)

,Site ID,POC,Daily Mean PM2.5 Concentration,DAILY_AQI_VALUE,AQS_PARAMETER_CODE
Date,,,,,
2014-02-09,80310026.0,2.333333,26.833333,82.333333,88234.666667
2014-02-16,80310026.0,3.000000,16.883333,51.000000,88301.500000

In [246]:
sd22 = sd2_weeks.index

In [247]:
hh = [i for i in sd22] #[ 2014-02-09 ,2014-02-16,2015-01-04 ,2015-03-01,2015-07-12 ,2015-08-23 ,2016-01-03 ,2016-01-10 ,2018-08-26 ,2019-02-10 ,2019-03-10 ,]
for i in hh:
    print(i)

2014-02-09 00:00:00
2014-02-16 00:00:00
2015-01-04 00:00:00
2015-03-01 00:00:00
2015-07-12 00:00:00
2015-08-23 00:00:00
2016-01-03 00:00:00
2016-01-10 00:00:00
2018-08-26 00:00:00
2019-02-10 00:00:00
2019-03-10 00:00:00

In [249]:
h1 = [i for i in heart_week  ] # [01/03/2015,03/26/2016,01/13/2018,03/24/2018,2019-01-05,2019-01-12,2019-01-19,2019-02-16,2019-03-09,2019-03-23,2019-06-08]
h2 = [i for i in lower_week ] #[ 12/27/2014,01/03/2015,02/20/2016,03/26/2016,04/02/2016,01/14/2017,02/25/2017,12/30/2017,01/06/2018,01/13/2018,02/10/2018,02/17/2018,04/07/2018,2019-03-16,2019-04-13,]
h3 = [i for i in other_week] #[03/19/2016,01/14/2017,03/11/2017,01/06/2018,02/17/2018,03/31/2018,06/23/2018,2019-03-02,2019-09-21,2019-11-02]
for i in h3:
    print(i)

03/19/2016
01/14/2017
03/11/2017
01/06/2018
02/17/2018
03/31/2018
06/23/2018
2019-03-02
2019-09-21
2019-11-02
2020-01-04
2020-01-25
2020-04-11

In [ ]:
sns.distplot(death_master['Diseases of heart (I00-I09,I11,I13,I20-I51)'])

In [ ]:
columns = death_master.columns

x_data = 360

fig, ax = plt.subplots()

for column in columns[2:]:
    ax.plot( death_master[column], label = column)
ax.legend();
plt.tight_layout()
plt.figure(figsize=(12,10))